body{
    margin: 0;
    height: 100vh;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    color: rgb(199, 49, 12);
    font-size: 1.1rem;
    padding: 0.07rem 1.5rem;
    border-radius: 0.8rem;
    background-color: rgb(36, 167, 172);
    position: absolute;
    right: 25px;
    bottom: 17px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
.todo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background: white;
    padding: 3rem;
    height: 50%;
    width: 60%;
    box-shadow: 30rem;
    max-width: 30rem;
}
h2{
    text-transform: uppercase;
    height: 2rem;
    color: rgb(21, 35, 236);
}
.input{
    position: relative;
    display: flex;
    
}
.input-field{
    width: 100%;
    border:0.3rem solid;
    border-radius: 0.5rem;
    color: gray;
    padding: 1.25rem;
}
input[type="text"]::placeholder{
    color:grey;
}
.todo-container{
    display: flex;
    gap: 1rem;
}
ul{
    padding: 0;
    margin:0;
    overflow-y: scroll;
    overflow-x: scroll;
}
li{
    display: flex;
    flex-direction:column;
    gap:1.2rem;
    padding:1.3rem;
}
#todoList p{
    color: crimson;

}
.disabled{
    display: flex;
    text-decoration: line-through;
}
input[type="checkbox"]::before{
    content: "/2713";
    display: inline-block;
    width: 2rem;
    height: 1.5rem;;
    text-align: center;
    border: 0.6rem solid;
    border-radius: 50%;
    color: transparent;
}
input[type="checkbox"]::before::after{
    color: darkslategrey;
    background-color: cornflowerblue;
    border: 0.6rem;
    border-radius: 50%;
}
.counter-container{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: blueviolet;
}